---
layout: markdown_page
title: "Category Direction - GitLab Duo Workflow"
description: "Empower users with AI-assisted workflows to automate complex tasks and enhance productivity across the GitLab platform"
---

## On this page
{:.no_toc}

- TOC
{:toc}

| | |
| --- | --- |
| Stage | [AI-powered](/direction/ai-powered/) |
| Group | [AI Framework](/direction/ai-powered/ai_framework/) |
| Maturity | [Planned](/direction/maturity/) |
| Content Last Reviewed | `2024-05-17` |

## Overview

GitLab Duo Workflow will be the cornerstone of our AI Agents offering. It will provide:

1. **Intelligent Task Execution**: Agents capable of understanding and executing complex tasks across GitLab projects.
2. **Adaptive Learning**: Continuous improvement based on user interactions and feedback.
3. **Seamless Integration**: Work harmoniously with existing GitLab features and third-party tools.

### Flexible Execution Environments
To cater to various user needs and security requirements, we plan to offer multiple execution modes:

1. **Local Executor**: For developers who prefer to run agents in their local environment.
2. **CI Executor**: For team-wide workflows triggered from the GitLab UI.
3. **Cloud Execution**: For users who prefer a fully managed solution.

### Intuitive UI

We're designing an intuitive interface that will allow users to:

1. Create and manage AI workflows easily.
2. Monitor agent activities in real-time.
3. Collaborate with AI agents on complex tasks.

### Robust Security

Security is paramount in AI agent interactions. We're implementing:

1. Sandboxed execution environments.
2. User confirmation for critical actions.
3. Comprehensive audit trails for all AI-generated activities.

## Roadmap

### Short-term Goals

- Implement core Duo Workflow Service and Executor components.
- Develop basic workflow creation and management UI.
- Establish secure communication channels between components.

### Medium-term Goals

- Expand the range of pre-built workflows and tools.
- Implement advanced features like workflow resumption and state management.
- Enhance integration with GitLab's existing features.

### Long-term Vision

- Develop advanced AI capabilities for complex problem-solving.
- Create an ecosystem for community-contributed workflows and tools.
- Seamlessly integrate AI agents into all aspects of the GitLab platform.

Stay tuned for updates as we progress on this exciting journey to bring advanced AI capabilities to GitLab!

<p align="center">
    <i><br>
    Last Reviewed: 2024-06-29<br>
    Last Updated: 2024-06-29
    </i>
</p>